#title input {
  width: 16%;
  min-width: 100px;
}

#list-title {
  padding-right: 14px;
}


#addNewRide {
  margin-left: 45%;
  border-radius: 300px;
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: #8FC1BF;
  color: #272E27;;
}


#addNewRide:hover {
  background-color: #193257;
  color: white;
}
