<div class="add-user">
    <h2 mat-dialog-title>New User</h2>
    <mat-dialog-content layout="column">
        <mat-form-field flex>
            <input matInput #input id="nameField" placeholder="Name" [(ngModel)]="data.user.name">
        </mat-form-field>
        <mat-form-field flex>
            <input matInput #input id="ageField" type="number" placeholder="Age" [(ngModel)]="data.user.age">
        </mat-form-field>
        <mat-form-field flex>
            <input matInput #input id="companyField" placeholder="Company" [(ngModel)]="data.user.company">
        </mat-form-field>
        <mat-form-field flex>
            <input matInput #input id="emailField" placeholder="Email" [(ngModel)]="data.user.email">
        </mat-form-field>
    </mat-dialog-content>
    <mat-dialog-actions layout="row">
        <!-- [mat-dialog-close]="data.user" causes the data.user object to be returned when the dialog is closed. -->
        <button mat-raised-button id="confirmAddUserButton" [mat-dialog-close]="data.user" type="button" color="primary">Add user</button>
        <!-- [mat-dialog-close]="null" causes null to be returned when the dialog is closed. -->
        <button mat-raised-button id="exitWithoutAddingButton" [mat-dialog-close]="null" type="button">Exit</button>
    </mat-dialog-actions>
</div>

